body{
  background-color: #1D2731;
}

a{
   text-decoration: none;
}

.topNav{
  background-color: black;
  text-align: center;
  font-family: calibri;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;

}

.topNav a{
  color: #328CC1;
  text-transform: uppercase;
  transition: 0.5s ease;
  padding: 20px;
}

a:hover {
  color:#0B3C5D;
}

img{
  width:350px;
}


.content{
  padding:20px;
  display: flex;
}

.layer1{
  text-transform: uppercase;
  font-size: 20px;
  font-weight:bold;
  font-family: sans-serif;
  opacity:0;
}

.layer1{
  position: absolute;
  top:330px;
  left:150px;

}

.layer1 a{
  color:black;
}

.pic{
  width: 0px;
  margin-left: 20px;
}

.intro{
  color:white;
  line-height: 30px;
  font-family: Noto Sans, sans-serif;
  margin-left: 400px;
  width: 900px;
  height:200px;
}

.intro #line1{
  font-size: 30px;
  font-weight: bold;
  color:white;
  width:260px;
  margin-left: 600px;
}

.intro #line2{
  color:#328CC1;
  font-size: 50px;
  font-weight: bold;
  width: 700px;
  margin-left: 280px;

}

.intro #line3{
  color:white;
  font-size: 30px;
  font-weight: bold;
  width: 1000px;
  margin-left: 0px;
  text-decoration: overline,underline;
}

.social{
  color:white;
  line-height: 5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  border: 2px solid #328CC1;
}

.social{
  font-size: 10px;
  margin-left: 550px;
  width: 300px;
  height: 120px;

}

.social img{
  margin-left: 10px;
  width:80px;
}

.icon:hover {
  opacity: .6;
}

.header{
  color: #328CC1;
  background-color: black;
  border: 2px solid white;
  text-align: center;
  font-family: Noto Sans, sans-serif;
}

#parag{
  width: 950px;
  margin-left: 250px;
}

#parag p{
  color: white;
  font-family: sans-serif;
  font-size: 25px;
  line-height: 55px;
}
